body {
    background-color: #000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
}

#desktop-logo {
    text-align: left;
}

.word-counter_logo_img img {
    height: 80px;
    width: 300px;
}

.upload-box {
    background-color: rgb(90, 180, 180);
    border: 2px solid #0d607c;
    border-radius: 30px;
    border-width: 10px;
    padding: 90px;
    width: 1000px;
    margin: 20px auto;
    margin-top: 30px;
    text-align: center;
}

.upload-instruction {
    font-size: 30px;
    font-weight: 400;
}

.style-or {
    font-size: 25px;
    margin-bottom: 20px;
}

.file-upload {
  display: none;
}

.custom-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-browse-btn {
  background-color: #1657a7;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

#fileName {
  color: #fff;
  font-style: italic;
  margin-top: 30px;
}

.upload-box button {
  background-color: #1657a7;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s;
}

.upload-box button:hover {
  background-color: #0099cc;
}